#todo-input {
    vertical-align: middle;
    margin-left: 20px;
}

#todo-appbar {
    background: aliceblue;
    width: 100%;
}

#todo-toolbar {
    display: inline-flex;
}

#todo-title {
    color: #f44336;
    align-self: center;
}

#todo-note {
    color: #f44336;
    background: aliceblue;
    font-weight: bold;
}


.todo-listitem {
    display: inline-flex;
    width: 100%;
}

.todo-listitem-text {
    width: 100%;
}

.todo-radiobuttons {
    color: #f44336;
    width: 100%;
    align-items: flex-end;
    padding-right: 30px;
}